$table-color: #ffffff;
$table-striped-bg:  transparent;
$table-border-width: 0%;
$grid-gutter-width: 10px;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);